extends layout

block content
	.text-center
		h1= title
		p Welcome to my horrible looking project, which is incomplete as we speak...









		a(href='/todos').btn.btn-success.btn-lg View your ToDoitems
		a(href='/auth').btn.btn-danger.btn-lg Login Github
		a(href='/logout').btn.btn-success.btn-lg Logout Github
